<% include HeadLayout %>
<div class="container" role="main">
	<div class="panel panel-default">
		<div class="panel-heading"><h3>Create a new problem:</h3></div>
		<div class="panel-body">
			<form role="form" id="myform" method="post"
				accept-charset="utf-8">

				<div class="form-group">
					<label for="inputProblem">Problem title:</label> <input
						type="text" class="form-control" name="title"
						id="inputProblem" />
				</div>

				<div class="form-group">
					<label for="inputContent">Problem description:</label>

					<textarea id="inputContent" name="content" rows="12" class="form-control" placeholder="Enter text ..."></textarea>
					<script type="text/javascript">
						$('#inputContent').wysihtml5({

					        "stylesheets": ["/lib/css/wysiwyg-color.css", "/lib/css/highlight/github.css"],
							"font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
							"emphasis": true, //Italics, bold, etc. Default true
							"lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
							"html": false, //Button which allows you to edit the generated HTML. Default false
							"link": true, //Button to insert a link. Default true
							"image": true, //Button to insert an image. Default true,
							"color": true, //Button to change color of font  
							"format-code" : true // enable syntax highlighting
						});
					</script>
		
				</div>
				<div class="form-group">
					<label for="time_limit">Time Limit:</label> <input
						type="number" class="form-control" name="time_limit"
						id="time_limit" value="10"/>
				</div>
				<div class="form-group">
					<label for="mem_limit">Memory Limit:</label> <input
						type="number" class="form-control" name="mem_limit"
						id="mem_limit" value="10"/>
				</div>
				<div> 
				<button class="btn btn-primary" data-toggle="modal" data-target="#myModal" type="Button" id="addTestCase">Add New Test Case</button>
				</div>
				<div>
				<hr />
				<H4>Test Cases:</H4>
				<table id="testcasetable" class="table table-striped">	
				<tr>
				<td>Input</td>
				<td>Output</td>
				<td>Action</td>
				</tr>		
				</table>
				</div>
				<button type="submit" class="btn btn-default">Submit Problem</button>
			</form>

		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Test Case:</h4>
      </div>
      <div class="modal-body">
				<table id="inputtable">
				<tr>
				<td><label for="Input">Input:</label></td>  
				<td><label for="Output">output:</label></td>
				</tr>
				<tr id="row0">
				<td><input type="file" id="Input0"></td>   
				<td><input type="file" id="Output0"></td>
				</tr>
				</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="addinput">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>
var i = 0;
var inputs = [];
var outputs = [];

function uint8ToString(buf) {
    var i, length, out = '';
    for (i = 0, length = buf.length; i < length; i += 1) {
        out += String.fromCharCode(buf[i]);
    }
    return out;
}
var handleFileSelect = function(input,array) {
	var files = input.files;
	var file = files[0];
    if (files && file) {
        var reader = new FileReader();

        reader.onload = function(readerEvt) {
            var binaryString = readerEvt.target.result;
            array.push(btoa(binaryString));
            console.log(array);
        };

        reader.readAsBinaryString(file);
    }
};
function readFile(input,output) {
    if ( input && input[0] ) {
        if ( output && output[0] ) {
			
        	handleFileSelect(input[0],inputs);
        	handleFileSelect(output[0],outputs);

        	return true;
    	}
    }
    return false;
}
$( "#addinput" ).click(function() {
	if(readFile($('#Input0'),$('#Output0')))
	{
		i = i+1;
		$('#testcasetable tr:last').after('<tr><td>'+$('#Input0').val()+'</td><td>'+$('#Output0').val()+'</td><td><button type="button" id="del_row'+i+'">Remove</button></td></tr>');

	}
	
});

$("#myform").submit(function (event) {

	event.preventDefault(); 
    var toSend = {
        title : $('#inputProblem').val(),
        content : $('#inputContent').val(),
    	time_limit : $('#time_limit').val(),
    	mem_limit : $('#mem_limit').val(),
    	inputs : inputs,
    	outputs : outputs
	};
	console.log(toSend);
    $.post( "/problem/create", toSend, function(data){
        //callback
    	window.location.href = "/problems";
    } );

});
</script>
<% include FootLayout %>